@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Well, hello there!</h1>
    <p>More content in <a href="https://github.com/erzsebete"> Let's code!</a></p>
</div>
